.chat_window
  position: relative
  overflow-y: scroll
  overflow-x: hidden
  box-sizing: border-box
  width: 100%
  height: calc(97vh - 180px)
  &::-webkit-scrollbar
    background-color: #dfe5ec
    width: 3px
  &::-webkit-scrollbar-thumb
    background-color: #6490b1
  .chat_wrapper
    display: flex
    flex-direction: column
    width: 100%
    padding: 0 5%
    box-sizing: border-box
  .arrowDown_wrap
    position: absolute
    right: 70px
    bottom: 70px
    .arrow_down
      position: fixed
      cursor: pointer
      border-radius: 50%
      height: 40px
      width: 40px
    .sum_unread_messages
      background: #005c99
      padding: 4px 5px 1px 5px
      border-radius: 50%
      color: white
      font-weight: bold
      font-size: 0.8em
      position: fixed
      z-index: 2

@media (max-width: 700px)
  .chat_window
    height: 100%
    .chat_wrapper
      padding: 0
    .arrowDown_wrap
      right: 50px
      bottom: 50px

