.chat_window
  position: relative
  overflow-y: scroll
  overflow-x: hidden
  box-sizing: border-box
  width: 100%
  height: calc(97vh - 180px)
  &::-webkit-scrollbar
    background-color: #dfe5ec
    width: 3px
  &::-webkit-scrollbar-thumb
    background-color: #6490b1
  .chat_wrapper
    display: flex
    flex-direction: column
    width: 100%
    padding: 0 8%
    box-sizing: border-box
    .chat_end
      height: 20px
    .date_wrap
      position: sticky
      top: 10px
      opacity: 1
      text-align: center
      margin: 5px
      transition: all 0.5s
      .date
        padding: 5px 15px 3px 15px
        border-radius: 10px
        background-color: rgba(0, 0, 0, 0.2)
        font-size: 10px
        color: #fff
    .hide_date
      opacity: 0
      transition: all 0.5s
  .user_is_typing_wrap
    position: absolute
    bottom: 28px
    left: 10px
    z-index: 2
    .user_is_typing
      position: fixed
      padding: 7px 7px 3px 7px
      border-radius: 20px
      background-color: rgba(0, 0, 0, 0.3)
      color: #fff
      font-size: 12px
  .arrowDown_wrap
    position: absolute
    right: 70px
    bottom: 70px
    .arrow_down
      position: fixed
      cursor: pointer
      border-radius: 50%
      height: 40px
      width: 40px
    .sum_unread_messages
      background: #005c99
      padding: 3px 5px 1px 4px
      border-radius: 50%
      color: white
      font-weight: bold
      font-size: 0.8em
      position: fixed
      z-index: 2
  .arrowDown_hide
    display: none

@media (max-width: 700px)
  .chat_window
    height: 100%
    .chat_wrapper
      padding: 0
    .arrowDown_wrap
      right: 50px
      bottom: 50px

