.send_message_panel_wrap_disable
  display: none
.send_message_panel_wrap
  box-sizing: border-box
  width: 98%
  height: 128px
  border-top: 2px solid #E9EBED
  .send_message_panel
    margin-top: 15px
    width: 100%
    display: flex
    justify-content: center
    align-items: start
    .send_message_form
      width: 60%
      textarea
        box-sizing: border-box
        padding: 6px
        min-height: 50px
        height: 50px
        width: 100%
        outline: none
        resize: none
        border: none
        border-bottom: 1px solid #e8e8e8
        &:focus
          border-bottom: 2px solid #499dd9
      button
        border: none
        background: none
        float: right
        margin-top: 5px
        color: #499dd9
        font-weight: bold
        cursor: pointer
        font-size: 14px
        outline: none
        &:hover
          color: #6490b1
    img
      height: 50px
      width: 50px
      border-radius: 50%
      margin: 0 10px 0 10px

